.card-house {
    display: inline-block;
    color: #fff;
    margin-right: 0px;
}

.card-house__inner {
    background-color: #62c390;
    position: relative;
    border-top-left-radius: 5px;
    margin: 10px;
}

.card-house__body {
    padding: 20px 20px 50px 20px;

}

.listing-status > p {
    position: absolute;
    z-index: 2;
    margin-top: -56px;
    margin-left: -20px;
    background-color: #E8618C;
    padding: 5px 15px 10px 15px;
}